.sms {
  text-align: center;
  position: fixed;
  width: 330px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 240px;
}

.bank {
  text-align: center;
  position: fixed;
  width: 330px;
  margin-top: 20px;
  margin-bottom: auto;
  margin-left: 670px;
}

.bankref {
  max-height: 620px;
  width: 320px;
  overflow: scroll;
  overflow: auto;
  align-items: center;
}

.postsystem {
  height: 100vh;
  align-items: center;
  background-color: #f8f8f6;
}

.cardBank {
  background-color: #d5dbb3;
  margin-bottom: 10px;
}

.postsystem .cardd {
  max-width: 400px;
  margin-top: 20px;
}

.deleteSMS {
  margin-top: 10px;
  width: 250px;
  height: 45px;
  color: white;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,147,101,1) 0%, rgba(78,193,66,1) 48%, rgba(158,221,51,1) 100%);
}

.deleteBank {
  margin-top: 10px;
  width: 250px;
  height: 45px;
  color: white;
  background: linear-gradient(90deg, #f37335 10%, #fdc830 100%);
}

.sms .buttonPost {
  margin-top: 10px;
  width: 180px;
  color: white;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,147,101,1) 0%, rgba(78,193,66,1) 48%, rgba(158,221,51,1) 100%);
}

.bank .buttonPost {
  margin-top: 10px;
  width: 180px;
  color: white;
  background: linear-gradient(90deg, #f37335 10%, #fdc830 100%);
}
.bankref .MuiTypography-h5 {
  font-size: 20px;
  font-weight: bold;
}
.bankref .MuiCard-root{
  width: 300px;
}

.bankref .MuiCardContent-root:last-child {
  padding-bottom: 20px;
}
.bankref .MuiCardHeader-root{
  padding: 8px;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(6,147,101,1) 0%, rgba(78,193,66,1) 48%, rgba(158,221,51,1) 100%);
  color: white;
  font-size: 20px;
}
.bankref .headerbank{
  background: linear-gradient(90deg, #f37335 10%, #fdc830 100%);
}
.bankref .MuiCardContent-root {
    font-size: 15px;
    color: gray;
    text-align: left;
    align-items: center;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 18px;
    padding-left: 18px;
}
.bankref .text {
    display: flex;
    align-items: center;
}

.bankref hr {
  border-top: 0px solid #e6e6e6;
}
.bankref .message {
  align-items: center;
}

.bankref span {
    margin: auto;
    text-align: center;
    display:block;
    width:250px;
    word-wrap:break-word;
}